* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../imgs/fondo.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px;
}

/* Formulario */

#preview {
  color:white;
  text-align: center;
}

#preview img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  
}

/* Tabla de Participantes */

#Animales {
  height: 100%;
  background: #f0f0f0;
  display: flex;
  gap: 1em;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div >div:hover {
  box-shadow: 0px 1px 5px 1px;
}
.card button{
  width: 100%;
  background-color: gray;
}

.card-body button img{
  
}

.participante {
  max-width: 30%;
}

/* Modal */

.modal-dialog{
    max-width: 85% !important;
}

